html
{
    font-size: 62.5%;
}

body
{
    overflow-x: auto;
    background: no-repeat center fixed url("../img/book_background_2.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
}

.Borrow-History
{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-align: center;
    font-size: 600%;
}

.book-image
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    height: 20rem;
}

.table-border
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border-radius: 10px;
}

.table-title
{
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
}

.here-is-the-table
{
    margin-bottom: 10%;
    width: 100%;
}

table
{
    text-align: center;
    font-size: 200%;
    font-style: italic;
    font-family: serif;
    width: 100%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: lightgray;
    overflow-x: auto;
}
table, th, td
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-color: transparent;
}

th
{
    font-size: 120%;    
    font-style:normal;
}

th
{
    color: green;
}

.action-button
{
    color: blue;
    font-size: 100%;
}

.action-button:hover
{
    text-decoration: underline;
}

.overdue
{
    color: whitesmoke;
    background-color: lightcoral;
}

.flex-button
{
    display: flex;
    flex-direction: row;
    padding-bottom: 2%;
    margin-bottom: 10%;
}
.left-button
{
    flex: 50%;
    text-align: left;
}
.right-button
{
    flex: 50%;
    text-align: right;
}
.here-is-the-button
{
    text-align: center;
    background-color: darkcyan;
    color: whitesmoke;
    border-style: none;
    width: 25%;
    height: 200%;
}

.here-is-the-button:hover
{
    background-color: darkgreen;
}

input[type=submit]
{
    border: none;
    color: blue;
    font-family: serif;
    font-style: italic;
    font-size: 16px;
    background: transparent;
}

input[type=submit]:hover
{
    text-decoration: underline;
}