html
{
    font-size: 62.5%;
}
body
{
    overflow-x: auto;
}

.back-button
{
    max-width: 8%;
    float: left;
    padding-top: 2%;
    border-radius: 100px;
    background-color: #0B2F5B;
}

.flex-column
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
}

.leftside
{
    flex: 40%;
    margin-left: 10%;
}

.rightside
{
    flex: 40%;
    background-color: #0B2F5B;
    margin-right: 10%;
}

.book-image
{
    width: 25rem;
    transform: translateX(-40%);
}

.heading
{
    font-size: 500%;
    font-family: cursive;
    color: whitesmoke;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
}

.book-title
{
    text-align: left;
    color: whitesmoke;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding-left: 10%;
}

.author
{
    text-align: left;
    color: whitesmoke;
    font-size: 2rem;
    font-family: serif;
    padding-left: 10%;
}

.lable-form
{
    color: whitesmoke;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.setting-flex-in-form
{
    margin-left: 10%;
    margin-top: 5%;
}

input[type=date]
{
    background-color: #0B2F5B;
    color: whitesmoke;
    border: whitesmoke solid;
    width: 70%;
    height: 120%;
    cursor: pointer;
}

input[type=number]
{
    background-color: #0B2F5B;
    color: whitesmoke;
    border: whitesmoke solid;
    width: 70%;
    height: 120%;
    cursor: pointer;
}

.this-class-hold-borrow-button
{
    text-align: center;
}

input[type=submit]
{
    width: 200px;
    height: 60px;
    background-color: whitesmoke;
    color:#0B2F5B;
    border: solid;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
  
input[type=submit]:hover
{
    background-color:darkblue;
    color: whitesmoke;
}
